$paleBlue: hsl(225, 100%, 94%);
$paleBlueSaturated: hsl(225, 100%, 90%);
$brightBlue: hsl(245, 75%, 52%);
$brightPinkBlue: hsl(245, 51%, 56%);
$veryPaleBlue: hsl(225, 100%, 98%);
$deSaturatedBlue: hsl(224, 23%, 55%);
$deSaturatedBluePlus: hsla(224, 23%, 55%, 0.7);
$darkBlue: hsl(223, 47%, 23%);
