@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
}

#__next {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  font-family: "Epilogue", sans-serif;
  position: relative;
}
